<!DOCTYPE html>
<html>
<head>
    <title>Kul app template example</title>
</head>
<body>
<div>
  Variable value: <%= @app_test_variable %>
</div>
<div>
  Not a variable value: <%= @not_a_real_thing %>
</div>
</body>
</html>