<!DOCTYPE html>
<html>
<head>
  <title>Kul app template example</title>
  <script type="text/javascript" src="/js/jquery-2.0.0.min.js"></script>
  <script type="text/javascript" src="/js/ajax_test.js"></script>
</head>
<body>
<div>
  Input: <input id="ajax_input" type="text" name="input"><br>
  <button id="ajax_submit">Echo</button>
</div>
<div id='echo_response' style="font-weight: bold; color: red;">
</div>
</body>
</html>